@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

:root {
    --cor1: #680000;
    --cor2: #db0909;
    --cor3: #e7d8c5;
    --fundo: rgba(14, 14, 14, 0.664);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--fundo);
    margin: 0px;
}

header {
    background-image: linear-gradient(to top, #680000, #db0909);
    margin: 0px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}
header h1 {
    font: normal 4em 'Dancing Script', cursive;
    color: white;
    margin: 20px 10px 25px 10px;
}
header nav {
    padding-bottom: 1px;
}
header ul {
    display: flex;
    gap: 10px;
    padding: 0px 0px 11px 0px;
    margin-bottom: 0px;
}
header a {
    color: rgb(207, 207, 207);
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
header a:hover {
    background-color: var(--cor2);
    color: white;
    transition-duration: .5s;
}
header a#voltar::after {
    content: ' ↩';
}

main {
    margin: 40px auto 40px auto;
    background-color: black;
    max-width: 800px;
    min-width: 300px;
    padding: 25px;
    text-align: start;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);

    display: flex;
    flex-direction: column;
    gap: 15px;
}
main h2 {
    font: normal 3.5em 'Dancing Script', cursive;
    color: #ff000086;
    text-align: center;
}

aside {
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
}


footer {
    font: normal 1em 'Dancing Script', cursive;
    background-color: black;
    color: #860000;
    margin: 10px 0px 0px 0px;
    text-align: center;
    padding: 2px 5px;
}


/*LISTAS*/
ul:disabled {
    background-color: #005a54;
}


/*PARTE DOS INGREDIENTES*/
aside#ingredientes {
    background-color: rgba(255, 255, 255, 0.719);
}
aside#ingredientes h3{
    font: normal 2em 'Dancing Script', cursive;
    background-color: #860000;
    color: white;
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul#ingredientes {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}
ul#ingredientes li {
    color: black;
    font-family: 'Merriweather', serif;
    text-align: center;
    border-radius: 9px;
    padding: 7px;
}


/*PARTE DO PREPARO*/
aside#preparo {
    background-color: rgba(255, 255, 255, 0.719);
}
aside#preparo h3{
    font: normal 2em 'Dancing Script', cursive;
    background-color: #860000;
    color: white;
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ol#preparo {
    display: flex;
    flex-wrap: wrap;
    columns: 2;
    justify-content: space-around;
}
ol#preparo li {
    font-family: 'Merriweather', serif;
    color: black;
    text-align: start;
    width: 250px;
    border-radius: 9px;
    padding: 7px;
}